@model Person


<h2>MÁY TÍNH ĐƠN GIẢN</h2>
<hr />
<form asp-action="XuLy" method="post">
    <div class="form-group">
        <label>Nhập Họ tên</label>
        <input asp-for="Fullname" class="form-control" />
    </div>
    <div class="form-group">
        <label>Ngày Sinh</label>
        <input asp-for="BirDay" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label>Chọn Hình</label>
        <input name="fHinh" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Tính</button>
</form>

